<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAT</key>
	<dict>
		<key>AirPort</key>
		<dict>
			<key>40BitEncrypt</key>
			<integer>1</integer>
			<key>Channel</key>
			<integer>0</integer>
			<key>Enabled</key>
			<integer>0</integer>
			<key>NetworkName</key>
			<string>Frenetic's Share</string>
			<key>NetworkPassword</key>
			<data>
			</data>
		</dict>
		<key>Enabled</key>
		<integer>1</integer>
		<key>NatPortMapDisabled</key>
		<false/>
		<key>PrimaryInterface</key>
		<dict>
			<key>Device</key>
			<string>en1</string>
			<key>Enabled</key>
			<integer>0</integer>
			<key>HardwareKey</key>
			<string></string>
			<key>PrimaryUserReadable</key>
			<string>Wi-Fi</string>
		</dict>
		<key>PrimaryService</key>
		<string>CF145E3B-C961-4809-AA0E-8E023FEA2D46</string>
		<key>SharingDevices</key>
		<array>
			<string>en4</string>
		</array>
		<key>SharingNetworkNumberStart</key>
		<string>10.1.1.240</string>
	</dict>
</dict>
</plist>
